<p class="squatch-lead">
   {{i18n "subTitle" (math programDetails.referredRewardDetails.credit ' / 100') companyname (math programDetails.referredRewardDetails.credit ' / 100') bundle="i18n/messages"}}
</p>
