<p class="squatch-lead">
  Give a friend

  ${{math programDetails.referredRewardDetails.credit ' / 100'}}

  credit off {{companyName}} and receive

  ${{math programDetails.referrerRewardDetails.credit ' / 100'}}

  for yourself when they pay their first bill.
</p>
