<p class="squatch-lead">
  {{i18n "subTitle" (math programDetails.referredRewardDetails.credit ' / 100') (companyName) (math programDetails.referredRewardDetails.credit ' / 100') bundle="i18n/messages"}}
</p>
