@import '_variables.less';

body, html {
  height: 50px;
  width: 200px;
}

.cta-container {
  border-radius: 5px;
  padding: 5px;
  padding-top: 7px;
  text-align: center;
  color: @white;
  font-size: 14px;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  p {
    margin-top: 7px;
  }

  &:hover {
    cursor: pointer;
    height: 60px;
    margin-top: -10px;
  }
}
