@import '_variables.less';

body, html {
  height: 50px;
  width: 200px;
}

.cta-container {
  padding: 5px;
  padding-top: 7px;
  text-align: center;
  color: @white;
  font-size: 14px;
  height: 100%;
  width: 100%;
}
