<h2 class="squatch-panel-title">
  Rewards
</h2>

<div class="squatch-stats">
  <div class="squatch-stats-item">
    <div class="squatch-stats-title">{{referralsLength}}</div>

    <span class="squatch-stats-description">Friends Referred</span>
  </div>
</div>
